/* :root {
    --puce: #D88C9A;
    --light-orange: #F2D0A9;
    --almond: #F1E3D3;
    --cambridge-blue: #99C1B9;
    --tropical-indigo: #8E7DBE;
  } */

:root {
  --task-bg: #fae0c3;
}

.t-container {
  background-color: var(--task-bg);
  width: 16rem;
  height: 8rem;
  padding: 1rem;
  border-radius: 20px;
  outline: black dashed 2px;
  overflow-y: scroll;
  word-wrap: break-word;
  flex-direction: column;
  position: relative;
}

.t-container > * {
  margin-bottom: 10px;
}

.t-button {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  align-self: flex-end;
}
