.fs-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fs-text {
    width: 50%;
    height: 80%;
}

.fs-text>* {
    margin: 20px;
}

.fs-container>* {
    margin: 15px;
}

.fs-title {
    font-size: 35px;
}

.fs-description {
    font-size: 25px;
}

.fs-illustration {
    width: 40%;
    height: 40%;
    float: right;
}

@media screen and (max-width: 800px) {
    .fs-container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-direction: column;
    }

    .fs-text {
        width: auto;
        height: auto;
    }

    .fs-text>* {
        margin: 20px;
    }

    .fs-container>* {
        margin: 0;
    }

    .fs-title {
        font-size: 35px;
    }

    .fs-description {
        font-size: 25px;
    }

    .fs-illustration {
        width: 12rem;
        height: 12rem;
    }

}