main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    margin-bottom: -10rem;
}

.hero {
    width: 40rem;
    text-align: center;
    z-index: 1;
}

.hero>* {
    margin: 35px;
}

.main-header {
    font-size: 60px;
}

.wave {
    display: block;
}

.features {
    background-color: #f3f4f5;
    padding: 4rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {

    main {
        margin-bottom: 0;
    }

    .features {
        padding: 1rem;
    }

}