:root {
    --cursor-color: #d88c9a;
}

.cursor-dot {
    width: 6px;
    height: 6px;
    background-color: var(--cursor-color);
}

.cursor-outline {
    width: 32px;
    height: 32px;
    border: 2px solid var(--cursor-color);
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

.cursor-dot:hover {
    background-color: red;
}