:root {
    --puce: #D88C9A;
    --light-orange: #F2D0A9;
    --almond: #F1E3D3;
    --cambridge-blue: #99C1B9;
    --tropical-indigo: #8E7DBE;
}

/* NAVBAR */

.nb-container {
    background-color: var(--almond);
    margin: 10px 1rem .8rem;
    padding: .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nb-text {
    color: #7959d1 !important;
}

.nb-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: black;
    border-radius: 15px;
    padding: auto 10px auto;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.050);
    transition: .5s;
}

/* HAMBURGUER */

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

@media screen and (max-width: 800px) {
    .burger {
        display: flex !important;
    }

    .nb-list {
        transform: translateX(-200%);
        background-color: #F1E3D3;
        position: fixed;
        top: 8vh;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 75px;
        transition: all 0.5s ease;
        z-index: 2;
    }

    .nb-list.nb-collapse {
        transform: translateX(0);
    }
}

/* FOOTER  */

footer {
    width: 100%;
    height: 100px;
}

.f-wave {
    position: absolute
}

.f-wave-white {
    background-color: #f3f4f5;
}

.f-container {
    background-color: #8E7DBE;
}